# Copy this file to .env and fill in your local values.
# Never commit the real .env file.
# .env file for running server on local machine and not through docker

DATABASE_URL="postgresql://username:password@localhost:5432/databasename?schema=public"
