# Example: Copy this file, and change the envirables username, password, and databasename
DATABASE_URL="postgresql://username:password@localhost:5432/databasename?schema=public"
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=databasename